html body {
    background: #E0E0E0;
}

.banner {
    width: 100%;
    height: 4rem;
    overflow: hidden;
    zoom: 1;
}

.content {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    background: #FFFFFF;
    margin-top: .14rem;
}

.content > h2 {
    width: 92%;
    height: .9rem;
    line-height: .9rem;
    overflow: hidden;
    font-size: .3rem;
    padding: 0 .3rem;
    border: 1px solid #EEEEEE;
}

.content > ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    padding: 0 .3rem;
}

.content > ul > li {
    width: 92%;
    height: .9rem;
    overflow: hidden;
    zoom: 1;
}

.content > ul > li > span {
    width: auto;
    max-width: 50%;
    height: .9rem;
    line-height: .9rem;
    font-size: .28rem;
    display: block;
    float: left;
}

.content > ul > li > img {
    width: .36rem;
    height: .36rem;
    margin: .27rem 0;
    float: right;
}

.other {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 1rem;
}

.other > h2 {
    width: auto;
    max-width: 50%;
    height: .9rem;
    line-height: 1rem;
    overflow: hidden;
    zoom: 1;
    font-size: .28rem;
}

.other .other-text {
    width: 92%;
    height: 2rem;
    line-height: .4rem;
    font-size: .3rem;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    margin-bottom: .3rem;
    overflow: hidden;
    overflow-y: scroll;
}

.date {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    margin-top: .2rem;
    float: left;
}

.date > em {
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    font-size: .24rem;
    padding-left: .3rem;
    display: block;
}

.btn {
    width: 92%;
    height: .8rem;
    line-height: .8rem;
    font-size: .32rem;
    text-align: center;
    border-radius: .1rem;
    color: #FFFFFF;
    position: fixed;
    left: .3rem;
    bottom: .3rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e69de+1,3690f0+100,54a3ee+100 */
    background: rgb(30, 105, 222);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(30, 105, 222, 1) 1%, rgba(54, 144, 240, 1) 100%, rgba(84, 163, 238, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(30, 105, 222, 1) 1%, rgba(54, 144, 240, 1) 100%, rgba(84, 163, 238, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30, 105, 222, 1) 1%, rgba(54, 144, 240, 1) 100%, rgba(84, 163, 238, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e69de', endColorstr='#54a3ee', GradientType=1);
    /* IE6-9 */
}

.btn-active {
    background: #909090 !important;
}

::-webkit-scrollbar {
    display: none;
}
